* {
    margin:0;
    padding:0;
    list-style: none;
}
.header {
    background-color:  rgb(52,55,11);
    height: 220px;
}
.main-heading{
    display: flex;
}
h1 {
    font-family: Averia Serif Libre, cursive;
    color: rgb(179, 171, 136);
    font-size: 70px;
    display: flex;
    text-align: center;
    padding: 30px 0px;
    margin-left: 420px;
}
.home {
    display: flex;
}
.home-icon {
    background-color: rgb(52,55,11);
    cursor: pointer;
    border: none;
    font-size: 40px;
    color: rgb(179, 171, 136);
    margin-left: 35px;
}
.nav {
    height: 50px;
    text-align: center;
}
.nav.for-who {
    padding-top: 40px;
}
.navbar {
    color: rgb(179, 171, 136);
    font-size: 15px;
    font-family: abel, sans-serif;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    display: inline;
    padding: 0px 30px;
}
.navbar1 {
    color: rgb(52,55,11);
    font-size: 15px;
    font-family: abel, sans-serif;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    display: inline;
    padding: 0px 30px;
}
.navbar1.shop {
    border-bottom: 2px solid rgb(52,55,11);
    padding-bottom: 15px;
}   
.shop {
    border-bottom: 2px solid rgb(179, 171, 136);
    padding-bottom: 15px;
}
.catalogue {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.products {
    text-decoration: none;
}
.product {
    width: 350px;
}
.title {
    font-size: 30px;
}
.price {
    font-size: 20px;
}
.title , .price {
    font-family: Averia Serif Libre;
    color: rgb(52,55,11);
    text-align: center;
    padding: 10px 0px;
}
.shopping ion-icon {
    font-size: 40px;
    color: rgb(179, 171, 136);
    margin-left: 400px;
    margin-top: 60px;
    cursor: pointer;
}